# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Data & outputs
data/processed/**
!data/processed/.keep
*.log
*.tmp

# OS
.DS_Store
Thumbs.db
